* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 1;
}

#app {
	padding: 40px;
	min-height: 100dvh;
}

.combobox-se-wrapper {
	--se-height: 40px;
	--se-padding: 10px;
	--se-dropdown-offset: 10px;
	--se-border: 1px solid #333;
	--se-border-radius: 4px;
	--se-accent-color: #2838e3;
	--se-background-color: #f2f2f2;
	--se-outline: 2px solid var(--se-accent-color);
	--se-outline-offset: 2px;
	--se-dropdown-height: 200px;
	--se-box-shadow: 0 0 5px rgba(0 0 0 / 10%);

	width: 100%;
	position: relative;
	display: flex;
}

.combobox-se-input-wrapper {
	flex-grow: 1;
	display: flex;
	border: var(--se-border);
	border-radius: var(--se-border-radius);
	overflow: hidden;

	&:not(:has(:disabled)) {
		@media (any-hover: hover) {
			&:hover {
				border-color: var(--se-accent-color);
			}
		}
	}

	&:has(:focus) {
		outline: var(--se-outline);
		outline-offset: var(--se-outline-offset);
	}
}

.combobox-se-input {
	width: 100%;
	padding: var(--se-padding);
	outline: none;
	border: none;
}

.combobox-se-trigger {
	flex-shrink: 0;
	height: var(--se-height);
	aspect-ratio: 1;
	cursor: pointer;
	display: grid;
	place-items: center;

	svg {
		width: 12px;
		height: 12px;
	}
}

.combobox-se-dropdown {
	width: 100%;
	position: absolute;
	top: 100%;
	margin-top: calc(var(--se-dropdown-offset) + 20px);
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	border: 1px solid #eee;
	border-radius: var(--se-border-radius);
	background-color: var(--se-background-color);
	box-shadow: var(--se-box-shadow);
	z-index: 10;
	transition-property: margin-top, opacity, visibility;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;

	&.combobox-se-dropdown-visible {
		opacity: 1;
		visibility: visible;
		margin-top: var(--se-dropdown-offset);
	}
}

.combobox-se-list {
	max-height: var(--se-dropdown-height);
	overflow: hidden auto;
	scrollbar-width: thin;
}

.combobox-se-empty-item {
	padding: 20px;
	justify-content: center;
}

.combobox-se-empty-item,
.combobox-se-item {
	width: 100%;
	display: inline-flex;
	user-select: none;
}

.combobox-se-item {
	padding: var(--se-padding);
	transition-property: color, background-color;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;

	&.combobox-se-selected {
		background-color: var(--se-accent-color);
		color: #fff;
	}

	&:not(.combobox-se-selected) {
		cursor: pointer;

		@media (any-hover: hover) {
			&:hover {
				background-color: color-mix(in srgb, var(--se-accent-color), #fff 80%);
			}
		}
	}
}
